.catalogue {
	margin-top: 3px;
	width: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #f2f0f0;
	font-weight: 600;
	font-size: 22px;
	padding: 0px 30px 0px 55px;
	border-radius: 15px;
	background: #333;
	position: relative;
	cursor: pointer;
	height: 50px;
  }

  .catalogue.open {
	border-radius: 15px 15px 0px 0px;
  }
  
  .catalogue_content {
	display: flex;
	align-items: center;
  }
  
  .catalogue_icon {
    font-size: 20px;
    position: absolute;
    top: 16px;
    left: 14px;
    transition: transform 0.5s ease;
}

.catalogue_icon.open {
    transform: rotate(90deg);
}
  
  .catalogue_icon::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('../../svg/catalogue.svg') no-repeat center center;
	background-size: contain;
  }
  
  .dropdown_menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: #444;
	border-radius: 10px;
	overflow: hidden;
	max-height: 0;
	opacity: 0;
	transition: max-height 0.5s ease, opacity 0.5s ease;
  }
  
  .dropdown_menu.open {
	max-height: 500px;
	opacity: 1;
	border-radius: 0px 0px 15px 15px;
  }
  
  
  .dropdown_menu li {
	padding: 10px 20px;
	color: #f2f0f0;
	cursor: pointer;
  }
  
  .dropdown_menu li:hover {
	background: #555;
  }

  .catalogue_item {
	position: relative;
  }

  .catalogue_img {
	width: 25px;
	height: 25px;
	right: 30px;
	position: absolute;
  }