.favourites_title {
	padding-top: 200px;
	padding-bottom: 250px;
	text-align: center;
}

.favourites_list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 1px;
}

.favourites_item {
	width: 20%;
	margin-bottom: 50px;
	background-color: #f2f0f0;
	border-radius: 10px;
	transition: transform 500ms ease;
}

.favourites_item:hover {
	transform: scale(1.1);
	cursor: pointer;
}
