.products_list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 1px;
}

.products_item {
	width: 20%;
	margin-bottom: 50px;
	background-color: #f2f0f0;
	border-radius: 0 0 10px 10px;
	transition: transform 500ms ease;
}

.products_item:hover {
	transform: scale(1.1);
	cursor: pointer;
}
