.card_img {
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.card_icons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.card_icon {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.card_container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 10px 20px;
	color: #333;
	position: relative;
}

.card_price {
	font-size: 24px;
	color: #5fa36a;
}

.card_sizes {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card_dimension {
	display: flex;
	flex-direction: column;
}

.card_basket {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 35px;
	font-weight: 600;
	background: #2d2d2d;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	text-align: center;
	line-height: 35px;
	color: #f2f0f0;
	cursor: pointer;
}
