.header_menu {
	display: flex;
	align-items: center;
	margin: 30px 30px 0 30px;
	justify-content: space-between;
}

.header_logotype {
	margin-left: 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.header_title {
	color: #5F5F61;
	text-decoration: none;
	font-weight: 700;
	font-size: 45px;
}

.header_logo {
	width: 38px;
	height: 38px;
}

.header_nav {
	padding-top: 7px;
	font-size: 25px;
	float: right;
}

.header_icon {
	margin-right: 20px;
	width: 40px;
	height: 40px;
}

.header_presentation {
	margin: 30px 0 50px 0;
	background: url("/src/img/bg.jpg") no-repeat;
	width: 100%;
	height: 500px;
	background-size: cover;
	background-position: 40% 60%;
	background-blend-mode: multiply;
	background-color: #bcbcbc;
	position: relative;
}

.header_presentation::after {
	content: "The best furniture for your home";
	position: absolute;
	top: 15px;
	left: 50px;
	width: 400px;
	font-size: 43px;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.668);
}

.header_presentation::before {
	content: "at low prices";
	position: absolute;
	top: 125px;
	left: 50px;
	width: 300px;
	font-size: 25px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.668);
}
