.header_content {
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	padding-bottom: 15px;
}

.header_logotype {
	margin-left: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header_title {
	color: #333;
	text-decoration: none;
	font-weight: 700;
	font-size: 45px;
	transition: color 0.3s ease;
}

.header_logo {
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.header_nav {
	padding-top: 7px;
	font-size: 20px;
}

.header_nav a {
	color: #333;
	text-decoration: none;
	margin-left: 20px;
	transition: color 0.3s ease;
}

.header_icon {
	margin-right: 20px;
	width: 40px;
	height: 40px;
	transition: transform 0.3s ease;
}

.header_icon:hover {
	transform: scale(1.1);
}

.header_icon_container {
	position: relative;
	display: inline-flex;
	align-items: center;
}

.header_count {
	position: absolute;
	top: 20px;
	right: 10px;
	background-color: red;
	color: white;
	border-radius: 50%;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	width: 24px;
	height: 24px;
	line-height: 24px;
}