.footer_top {
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer_title {
	font-weight: 600;
    font-size: 24px;
    color: #e0e0e0;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer_nav {
	display: block;
}

.footer_list {
	list-style: none;
	margin-bottom: 0;
}

.footer_item {
	cursor: pointer;
	font-size: 18px;
	margin-bottom: 10px;
	color: rgba(255, 255, 255, 0.5);
}

.footer_phone, .footer_mail {
	text-decoration: none;
    font-size: 18px;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.5);
}

.footer_social {
    display: flex;
    gap: 10px;
}

.footer_app {
    width: 30px;
}

.footer_bottom {
    display: flex;
    align-items: center;
    padding: 10px 0 10px;
	align-items: center;
	justify-content: center;
}

.footer_copy {
	font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff80;
    margin: 10px 0;
}