.search_container {
	position: relative;
  }
  
  .search_input {
	margin-top: 3px;
	width: 300px;
	height: 50px;
	border-radius: 30px;
	padding-left: 20px;
	font-size: 18px;
	border: none;
	background: #ffffff;
	color: #4e4e4e;
  }

  .search_input:active {
	border: none;
  }
  
  .search_icon {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 15px;
	top: 45%;
	bottom: 55%;
	transform: translateY(-50%);
	cursor: pointer;
	color: #4e4e4e;
  }